<div class="card">
  <div class="flex-container">
    <div>
      <h5 class="card-title">{{ title }}</h5>
      <label class="card-amount">{{ amount }}</label>
    </div>
    <div class="{{ 'icon-' + color }}">
      <mat-icon class="icon">{{ icon }}</mat-icon>
    </div>
  </div>
  <div>
    <label class="info">
      <label class="info-green" *ngIf="color != 'red'">+3.48%</label>
      <label class="info-red" *ngIf="color == 'red'">-3.48%</label>
      Since last month
    </label>
  </div>
</div>
