<div class="home-container">
  <div class="heading">
    <h1>Home</h1>
    <mat-icon class="icon">home</mat-icon>
    <div>
      <h6>Home - Dashboard</h6>
    </div>
  </div>
  <div class="cards">
    <app-card
      class="card"
      [icon]="'trending_up'"
      [title]="'TOTAL SALES'"
      [amount]="'123,456'"
      [color]="'green'"
    ></app-card>
    <app-card
      class="card"
      [icon]="'trending_down'"
      [title]="'NEW USERS'"
      [amount]="'2,345'"
      [color]="'red'"
    ></app-card>
    <app-card
      class="card"
      [icon]="'attach_money'"
      [title]="'TODAY\'S SALES'"
      [amount]="'924'"
      [color]="'purple'"
    ></app-card>
    <app-card
      class="card"
      [icon]="'bar_chart'"
      [title]="'PROFIT'"
      [amount]="'46.48%'"
      [color]="'blueish'"
    ></app-card>
  </div>

  <div class="details-section">
    <div class="flex-container">
      <h1>Our Products</h1>
      <div class="button-container">
        <button class="btn btn-pri">New Category</button>
        <button class="btn btn-pri">New Product</button>
        <button class="btn btn-sec">Download</button>
      </div>
    </div>
    <div class="table-container">
      <table border="1">
        <thead>
          <td>ID</td>
          <td>Product Name</td>
          <td>Product Category</td>
          <td>Price</td>
          <td>Actions</td>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products">
            <td>{{ prod.id }}</td>
            <td>{{ prod.title.substring(0, 15) }}</td>
            <td>{{ prod.category[0].name }}</td>
            <td>{{ prod.price }}</td>
            <td>
              <div>
                <mat-icon class="icon icon-green">edit</mat-icon>

                <mat-icon class="icon icon-red">delete</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- 
<div class="add-modal">
  <input type="text" />
</div> -->
